
/* Panels */
.pnl-heading {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
}
.pnl-icon {
    flex: 1;
}
.pnl-container {
    flex: 3;
    align-content: center;
}
.pnl-heading-section {
    display: flex;
    flex-flow: row nowrap;
    
}
.pnl-heading-heading {
    font-size: 2.2rem;
    flex: 2;
    text-align: right;
}
.pnl-heading-value {
    font-size: 2.2rem;
    flex: 1;
    text-align: right;
}

/* Overview Control Styles*/
.overview-header {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.overview-container {
    display: flex;
    flex-flow: row nowrap;
    line-height: 2rem;
    padding-top: 1rem;
}

.overview-user-container {
    flex: 1;
}

.overview-balance-container {
    flex: 1;
}

.overview-schedule-container {
    flex: 2;
}


/* Modal Popup Styles*/

#myModal .modal-header {
    background-color: #337AB7;

}
#myModal .modal-title {
    /*font-size: 2rem;*/
    font-weight: bold;
    color: white;
}
#myModal .modal-content {
 
    overflow: hidden;
}
#myModal .modal-body {
    padding: 1rem;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .rotate.down {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }