/* Panels */
.pnl-heading {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
}
.pnl-icon {
    flex: 1;
}
.pnl-container {
    flex: 3;
    align-content: center;
}
.pnl-heading-section {
    display: flex;
    flex-flow: row nowrap;
    
}
.pnl-heading-heading {
    font-size: 2.2rem;
    flex: 2;
    text-align: right;
}
.pnl-heading-value {
    font-size: 2.2rem;
    flex: 1;
    text-align: right;
}

/* Overview Control Styles*/
.overview-header {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.overview-container {
    display: flex;
    flex-flow: row nowrap;
    line-height: 2rem;
    padding-top: 1rem;
}

.overview-user-container {
    flex: 1;
}

.overview-balance-container {
    flex: 1;
}

.overview-schedule-container {
    flex: 2;
}

.mymodalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
/* Modal Popup Styles*/
.mymodalPopup {
    background-color: #FFFFFF;
    border-radius: 1rem;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 600px;
    height: 600px;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .rotate.down {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }