@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

:root {
    --main-color: #333367;
    --secondary-color: #F0EEFF;
    --primary-font: 'Open Sans', sans-serif;
    --brand-font: 'Open Sans', sans-serif;
}


body {
    font-family: var(--primary-font);
    margin: 0;
    box-sizing: border-box;
   
}


.navbar {
    background-color: var(--main-color);

}
.navbar-brand {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
    font-family: var(--brand-font);
}
/*
.main-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    height: 90vh;
}*/

.sidenav {
    /*flex: 1;*/
    background-color: var(--main-color);
    font-size: 1.5rem;
}


   


.sidenavmenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    display: block;
   
}




    .sidenavmenu a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenavmenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.site-footer {
    background-color: var(--main-color);
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.err {
    color: red;
}



@media screen and (max-height: 450px) {
    .sidenavmenu {
        padding-top: 15px;
    }

        .sidenavmenu a {
            font-size: 18px;
        }
}

