@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

:root {
    --main-color: #333367;
    --secondary-color: #F0EEFF;
    --primary-color: #0069D9;
    --primary-font: 'Open Sans', sans-serif;
    --brand-font: 'Open Sans', sans-serif;
}


body {
    font-family: var(--primary-font);
    padding-bottom: 20px;
    min-height: 75rem;
    padding-top: 5rem;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* Header Navigation Bar */
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.navbar {
    background-color: var(--main-color);

}
.navbar-brand {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--brand-font);
}

#sidebar {
    min-width: 240px;
    max-width: 240px;
}

    #sidebar.active {
        margin-left: -240px;
    }
#sidebar {
    min-width: 240px;
    max-width: 240px;
    min-height: 100vh;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* Side Bar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 5rem 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    /*
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; */
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*  Styling for the side bar */
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#menu-btn {
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}


/* Modal Popup Styles*/
#myModal .modal-header {
    background-color: #337AB7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#myModal .close {
    flex: 1;
    font-size: 2rem;
    align-self: flex-start;
    text-align: right;
}
#myModal .modal-title {
    flex: 3;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

#myModal .modal-content {
    overflow: hidden;
}




/* Users Main Layout */
.page-header {
    padding: 1rem 0;
    
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: stretch;
}

.left-container {
    padding: 0 .75rem;
    flex: 1;
    text-align: center;
}

.middle-container {
    padding: 0 .75rem;
    flex: 1;
    text-align: center;
}

.right-container {
    padding: 0 .75rem;
    flex: 1;
    text-align: center;
}

/* Calendar Styles  */
.myCalendar-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

.myCalendar-display {
    align-self: center;
}
/*  Custom Card Styles*/
.custom-card {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;

}
.custom-card-title {
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;

}

    .custom-title {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
.custom-heading {
 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.custom-icon {
    flex: 1;
}
.custom-heading-heading {
    font-size: 1.5rem;
    flex: 2;
    text-align: right;
}
.custom-heading-container {
    flex: 3;
    align-content: center;
}
.custom-heading-value {
    font-size: 1.5rem;
    flex: 1;
    text-align: right;
}
.custom-card-details {
    display: flex;
    justify-content: space-around;
}
.custom-details-left {
    text-align: left;
}
.custom-details-right {
    text-align: right;
}
.custom-card-body {

    padding: 1rem;
}
.custom-card-body ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.custom-card-body li {
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.custom-card-body a {
    text-decoration: none;
}
.mygrid .row .mygrid-label {
    font-size: .8rem;
    text-align: left;
    font-weight: bold;
}
.mygrid .row .mygrid-content {
    text-align: left;
    
}

/* Summary Styles */
.summary-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}

.summary-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333367;
}

.summary-value {
    padding-left: 1rem;
    font-size: 1.2rem;
}
.summary-footer {
    align-items: center;
}

/* Report Styles*/
.report-header {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0;
}

.report-employee {
    font-size: 1.1rem;
    padding: .5rem 0;
}


/* Overview Control Styles*/
.overview-header {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.overview-container {
    display: flex;
    flex-flow: row nowrap;
    line-height: 2rem;
    padding-top: 1rem;
}

.overview-user-container {
    flex: 1;
}

.overview-balance-container {
    flex: 1;
}

.overview-schedule-container {
    flex: 2;
}



.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .rotate.down {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
.err {
    color: red;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 600px) {
    .dashboard-container {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    

    #menu-btn {
        display: block;
    }
    #sidebar {
        margin-left: -240px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}