@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

:root {
    --main-color: #333367;
    --secondary-color: #F0EEFF;
    --primary-font: 'Open Sans', sans-serif;
    --brand-font: 'Open Sans', sans-serif;
}


body {
    font-family: var(--primary-font);
    margin: 0;
    box-sizing: border-box;
   
}



.navbar {
    background-color: var(--main-color);

}
.navbar-brand {
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
    font-family: var(--brand-font);
}
/*
.main-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    height: 90vh;
}*/

.sidenav {
    /*flex: 1;*/
    background-color: var(--main-color);
    font-size: 1.5rem;
}


   


.sidenavmenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    display: block;
   
}




    .sidenavmenu a:hover, .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenavmenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.site-footer {
    background-color: var(--main-color);
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.err {
    color: red;
}
/* Users Main Layout */
.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: stretch;
}

.left-container {
    padding: 0 .75rem;
    flex: 1;
    text-align: center;
}
.middle-container {
    padding: 0 .75rem;
    flex: 1;
    text-align: center;
}
.right-container {
    padding: 0 .75rem;
    flex: 1;
    text-align: center;
}

/* Calendar Styles  */
.myCalendar-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

.myCalendar-display {
    align-self: center;
}

*/
/* Cards */
.card-body {
    border: 1px solid #337AB7;
}

.card-title {
    background-color: #337AB7;
    color: #FFFFFF;
    overflow: hidden;
    font-size: 1.2rem;
}

.card-text {
    background-color: white;
}

/* Summary */


.summary-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: .5rem;
}

.summary-label {
    font-size: 2rem;
    font-weight: bold;
    color: #333367;
}

.panel-body ul {
    list-style-type: none;
    text-align: left;
}
.panel-body li {
    padding: 1rem;
    font-size: 2rem;
}
.panel-body a {
    text-decoration: none;
}
.summary-value {
    font-size: 2rem;
}

/* Reports Panel */
.panel-body.ul {
    list-style: none;
}
/* Responsive: Portrait tablets and up */

@media screen and (max-width: 600px) {
    .dashboard-container {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}


@media screen and (max-height: 450px) {
    .sidenavmenu {
        padding-top: 15px;
    }

        .sidenavmenu a {
            font-size: 18px;
        }
}

